.schools {
  display: flex;
  justify-content: space-between;

  h4,
  p {
    margin: 0;
  }
}
.hover-container {
  a {
    color: black;
  }
  :hover {
    color: gray;
  }
}
.institute {
  margin-bottom: 0.5rem;
}
