$color_1: #fff;
$background-color_1: black;

/* Positioning styles */
/* Tooltip container */
.hover-container {
  display: inline-block;
  cursor: pointer;
  position: relative;
}

/* Tooltip text */
.hover-text {
  position: absolute;
  background-color: $background-color_1;
  color: $color_1;
  border-radius: 5px;
  padding: 5px;
  z-index: 1;
  pointer-events: none;
  opacity: 0.9;
  text-align: left;
  width: max-content;
  max-width: 400px;
  ul {
    list-style-type: disc;
  }
  //   transform: translate(-300%, -120%);
  /* Offset to center above the cursor */
}

.hover-text.bottom {
  top: 100%; /* Position below the children */
  left: 20%;
  transform: translate(-50%, 5px); /* Offset downwards */
}

.hover-text.top {
  bottom: 100%; /* Position above the children */
  left: 20%;
  transform: translate(-50%, -5x); /* Offset upwards */
}
