$color_1: #fff;
$background-color_1: black;

/* Positioning styles */
/* Tooltip container */
.hover-container {
  display: inline-block;
  cursor: pointer;
  position: relative;
}

/* Tooltip text */
.hover-text {
  position: absolute;
  background-color: $background-color_1;
  color: $color_1;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  z-index: 1;
  pointer-events: none;
  opacity: 0.9;
  //   transform: translate(-300%, -120%);
  /* Offset to center above the cursor */
}
